ol,
ol li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #06202E;
}

.solarSystem {
  padding: 0px;
  border-radius: 20px
}

.planet {
  padding: 20px;
}

.planet .thumb {
  height: 120px;
  width: 220px;
  margin: 20px;
  border-radius: 20px;
  text-align: center;
  background-color: black;
  float: right;
}

.planet .thumb img {
  height: 100px;
}

.planet h2 {
  color: white;
  line-height: 140px;
  font-size: 38px;
  padding-left: 15px;
}

.planet.Mercury {
  background-color: #638192;
}

.planet.Venus {
  background-color: #4D6F82;
}

.planet.Earth {
  background-color: #375D73;
}

.planet.Mars {
  background-color: #214B63;
}

.planet.Jupiter {
  background-color: #0A344D;
}

.planet.Saturn {
   background-color: #0A2F45;
 }

.planet.Uranus {
  background-color: #092A3E;
}

.planet.Uranus {
  background-color: #082536;
}

.planet.Neptune {
  background-color: #06202E;
}

.loadingIndicator {
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 1 auto;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 80px;
  height: 80px;
}

.loadingIndicator p{
  text-align: center;
  color: white;
}




