ol,
ol li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.solarSystem {
  padding: 20px;
}

.planet.Mercury {
  background-color: #e6e6e6;
}

.planet.Venus {
  background-color: #cccccc;
}

.planet.Earth {
  background-color: #cccccc;
}

.planet.Mars {
  background-color: #b3b3b3;
}

.planet.Jupiter {
  background-color: #b3b3b3;
}

.planet.Saturn {
   background-color: #b3b3b3;
 }

.planet.Neptune {
  background-color: #b3b3b3;
}

.planet.Pluto {
  background-color: #b3b3b3;
}

.planet.Uranus {
  background-color: #b3b3b3;
}




